.content {
  padding: 62px 62px 0 62px;
  display: flex;
  flex-direction: column;

  .headBlock {
    margin-bottom: 32px;

    .headText {
      margin: 0;
    }
  }
  .cardBox {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    justify-content: center;
    grid-column-gap: 28px;
    grid-row-gap: 64px;
    margin-bottom: 80px;
    
  }
}